*{
    padding: 0%;
    margin:  0%;
}
.main{
    background-image: url(/img.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    text-align: center;
    
}
.menu{
   width: 300px;
   float: left;
   height: 60px;
}
ul{
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;

}
ul li{
   list-style: none;
   margin-left: 52px;
   margin-top: 17px;
   font-size: 14px;
}
ul li a{
   text-decoration: none;
   color: white;
   font-family: Arial;
   font-weight: bold;
   transition: 0.4s ease-in-out;
   font-size: 25px;
}
ul li a:hover{
   color: orangered;
}
.mainData{
    padding: 250px 0;
    
}
 .favorite{
    font-style: italic;
    font-size: 25px;
    padding-bottom:20px;
    text-align: center;
    color:whitesmoke;
}
 .recipes{
   display: block;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    text-decoration: transparent;
    color: white;
   
   
 }
 .mainData button{
    margin-top: 25px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
 }
 .mainData .favorite{
    margin-top: 20px;
    color: white;
 }
 .send{
   color: antiquewhite;
   background-color: rgba(0, 0, 0, 0.7);
   display: inline-flex;
   padding-bottom: 30px;
   padding: 20px;
   border-radius: 25px 0 25px 0;
   font-size: 20px;
   font-style: italic;
   margin-bottom: 50px;
 }
 .para{
    display: flex;
    text-align: center;
    
 }
 .para i{
    font-size: 40px;
    border: solid black;
    border-radius: 50px;
    margin-top: 30px;
    padding: 10px;
    color: chocolate;
 }
 .para h1{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: crimson;
    margin-top: 15px;
    font-style: italic;
 }
 .para p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin: 35px;
 }
 .section1{
    display: flex;
     background-color: rgba(0, 0, 0, 0.1);
     margin: 30px;      
 }
 .para1 p{
   text-align: center;
   font-size: 25px;
   margin-top: 60px;
   line-height: 35px;
   font-style: italic;
   

 }
 .para1 h1{
    text-transform: uppercase;
    margin-top:50px;
    text-decoration: underline;
    text-decoration-color: black;
    color:black;  
    text-align: center; 
 }
 .intro{
   text-align: center;
   margin: 20px;
   padding: 50px;
   font-size: 20px;
   color: white;
 }
 .back{
  background-image: url(/img.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  align-items: center;

 }
 .intro p{
   padding-top: 20px;
   font-size: 15px;
   line-height:30px;
   color:white;
   text-transform: lowercase;
   
 }
 .intro h4{
   text-align: center;
   padding-top: 40px;

 }
 .intro i{
   font-size: 50px;
   color:white;
   border-radius: 60px;
   padding: 12px;
   border: 2px solid black;
 }
 .write h1{
   text-align: center;
   text-transform: uppercase;
   font-style: italic;
   text-decoration: underline;
   text-decoration-color: green;
   padding: 8px;
   margin: 6px;
 }
 .container{
   display: flex;
   text-align: center;
   
 }
 .container img{
   height: 235px;
   margin: 8px;
   margin-top: 10px;
   
 }
 .container h1{
   text-transform: uppercase;
   font-size: 20px;
 }
 .mug{
   display: flex;
   text-align: center;
 }
 .mug h1{
   text-transform: uppercase;
   font-size: 20px;
 }
 .mug img{
   height: 190px;
   margin: 8px;
   margin-top: 5px;
 }
 .sheary{
   text-align: right;
   background-color: rgba(0, 0, 0, 0.7);
   padding: 10px;
   font-size:20px ;
   font-style: italic;
 }
 

 
